body{
    background: gray;
}
.red{
    color: purple;
}
.border{
    border: 2 solid gold;
    background-color: aquamarine;
}
.large{
    font-size: 24px;
}
.circle{
    width: 100px;
    height: 100px;
    background: purple;
    border-radius: 50%;
    transition: transform 1.5s linear;
}
move{
    transform: translateX(600px);
}
