*,
*::after
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: gray;
}
.wrapper{
    max-width: 1140px;
    margin: 0 auto;
}
#form-create-task{
    width: 250px;
    border: 1px solid purple;
    border-radius: 20%;
    padding: 20px;
}
.container{
    border: 1px solid purple;
    border-radius: 20%;
    padding: 20px;
    margin-top: 50px;
}
.task{
    border: 1px solid aquamarine;
    border-radius: 3px;
    padding: 5px;
    margin-top: 5px;
}
.immedients{
    content: "";
    color: blue;
    font-weight: bold;
    margin-left: 10px;
}